html {
  height: 100%;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  background: linear-gradient(to bottom, #352b89, #342f6b, #35355c);
}

/* BOX */
.vertical-align-vh {
  height: 100vh;
}

@media (max-height: 650px) {
  .vertical-align-vh {
    height: auto;
    margin: 25px 5px;
  }
}

.box-app {
  border-radius: 10px;
  padding: 30px 30px 50px;
  width: 600px;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  border-radius: 30px;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 20%);
  color: #fff;
}

@media (max-width: 650px) {
  .box-app {
    padding: 30px 20px;
  }
}

/* SEARCH */
.search-box {
  border-radius: 40px;
  padding: 10px 12px 10px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: rgb(255, 255, 255, 0.1);
}

.search-box input {
  border: none;
  width: 80%;
  background: none;
  color: #fff;
}

.search-box input:focus,
.search-box input:active {
  border: none;
  outline: none;
}

.search-box .btn-search {
  border-radius: 50px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  text-align: center;
  background: #d485ff;
  border: none;
  transition: all 200ms ease-in-out;
}

.search-box .btn-search:hover,
.search-box .btn-search:focus,
.search-box .btn-search:active {
  opacity: 0.8;
  background: #d485ff;
}

.search-box .btn-search img {
  position: relative;
  right: 0;
  top: 0;
}

/* TITLE  */

.box-app h1 {
  color: #d485ff;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

.content-info-weather {
  display: flex;
  justify-content: space-between;
}

/* ACTUAL INFO CITY */
.actual-info-city {
  padding-right: 40px;
  max-width: 65%;
  display: flex;
  flex-direction: column;
}

.actual-info-city h2 {
  color: #d485ff;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
}

@media (max-width: 700px) {
  .actual-info-city {
    padding-right: 0;
    max-width: 100%;
  }
}

.actual-info-city .today-hour {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 5px;
}

.actual-info-city .description {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 5px;
}
.actual-info-city .description::first-letter {
  text-transform: capitalize;
}

.actual-info-city .actual-more-info {
  font-size: 14px;
  line-height: 28px;
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
  opacity: 0.6;
}

.actual-info-city .actual-more-info li {
  font-weight: 400;
  display: inline-block;
  padding: 0 10px 0 0;
  margin: 0;
}

.actual-info-city .actual-more-info span {
  font-weight: 300;
}

.actual-info-city p span {
  margin-right: 8px;
}

.actual-info-city p strong {
  font-weight: 500;
}

/* NOW WEATHER */
.now-weather {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.now-weather .temperature {
  font-size: 40px;
  margin-bottom: 0;
}

.now-weather .temperature .units {
  font-size: 18px;
  margin-bottom: 0;
  position: relative;
  top: -15px;
}
.now-weather .temperature .units a {
  color: #d485ff;
  text-decoration: none;
}

.now-weather .temperature .units a:hover {
  opacity: 0.8;
  color: #d485ff;
}

.now-weather .temperature .units .active,
.now-weather .temperature .units .active:hover {
  color: white;
  cursor: default;
  opacity: 1;
}

.now-weather .weather-icon {
  width: 45px;
  margin-left: 20px;
  display: contents;
}

.now-weather .weather-icon img {
  max-width: 100%;
}

@media (max-width: 650px) {
  .now-weather {
    flex-direction: column;
    min-width: 120px;
    justify-content: flex-start;
  }
  .now-weather .weather-icon {
    width: 30px;
  }
}

/* FIVE DAYS */

.five-days {
  margin-top: 20px;
  background: rgb(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 20px;
}

.five-days h4,
.five-days p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.five-days h4 {
  font-size: 18px;
  font-weight: 500;
}

.five-days .weather-icon img {
  width: 90%;
}

/* BUILT BT */

.built_by {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 35px;
  margin-bottom: 0;
}

.built_by a {
  color: #d485ff;
  text-decoration: none;
}

.built_by a:hover {
  color: #d485ff;
  text-decoration: none;
  opacity: 0.8;
}
